\:root
  --hoarder-heading-color: #f8f832

  --mdc-theme-secondary: #0776a2
  --mdc-checkbox-unchecked-color: #a00909
  --mdc-theme-on-surface: white
  --mdc-checkbox-disabled-color: #adadad
  --mdc-checkbox-ink-color: #363636