@import materialicons

i.material-icons
  color: black
  font-size: 2em
  font-weight: bolder
  text-shadow: 1px 1px black
.center-div
  display: flex
  flex-direction: column
  align-items: center
h1
  font-size: 36px
  margin-bottom: 2em
  width: 100%
  text-align: center

#turtle
  background-image: url("../assets/turtle.png")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  transform-origin: center center
  width: 20vw
  height: 20vh
  animation-duration: 5s
  animation-name: rotate_turtle
  animation-iteration-count: infinite
  animation-timing-function: cubic-bezier(.34,.52,.78,.49)

.button-list
  margin-top: 2em
  display: flex
  flex-direction: row

  wired-fab:first-child
    margin-right: 5em

@keyframes rotate_turtle
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)
