@import materialicons
i.material-icons.md-light
  color: black
  //@media only screen and (max-width: 600px)
  //  font-size: 1.2rem

\:host
  color: white
  font-family: IndieFlower, serif
  font-size: 2rem

.attachment-container
  position: relative
  display: grid
  place-items: center

.center-button
  position: absolute
  top: 0px
  left: 0px
  display: grid
  height: 100%
  width: 100%
  place-items: center

img
  display: block
  max-width: 90vw
  max-height: 50vh
  width: auto
  height: auto
  margin-bottom: 1em


.delete-button
  --wired-fab-bg-color: #ff0000
  //position: absolute
  width: 63px
  height: 63px
  //top: 0px
  //left: 0px
  //margin-left: 50%
  //margin-top: 50%
  //transform: translate(-50%, -50%)


