@import materialicons


i.material-icons
  color: black
  font-size: 2em
  font-weight: bolder
  //text-shadow: 1px 1px black
.center-div
  display: flex
  flex-direction: column
  align-items: center
.loading
  font-family: Cabin
  font-size: 2em
  color: white
//h1
//  font-size: 36px
//  margin-bottom: 2em
//  width: 100%
//  text-align: center

.button-list
  margin-top: 2em
  display: flex
  flex-direction: row
  position: fixed
  bottom: 0px
  padding-bottom: 1em
  top: auto
  background: rgba(0,0,0,.6)
  padding-right: 2em
  padding-left: 2em

  wired-fab:nth-child(2)
    margin-left: 3em
    margin-right: 3em

#test-button
  display: none
  position: fixed
  top: 10em
  left: 0px
  width: 5em
  height: 5em

.sync-status
  color: white
  position: fixed
  right: 0
  left: auto
  text-align: right
  top: 5em

.todo-lists-list
  color: white
  font-family: IndieFlower, SansSerif
  font-size: 2em
  min-width: 25vw
  @media only screen and (max-width: 600px)
    min-width: 75vw

.list-item
  padding: .5em 1em .5em 1em
  background: #0776a2
  border-bottom: 2px black solid
  border-top: 2px black solid
  display: flex
  flex-direction: row
  align-items: center
  @media only screen and (max-width: 600px)
    font-size: .8em
  @media only screen and (max-height: 500px)
    font-size: 1em
    padding: 5px 1em 5px 1em
    i
      line-height: .8em

  span
    display: inline-block
    margin-left: 1em
    width: 100%

#edit-list
  width: 100%
  margin-right: 3em
  font-family: IndieFlower
  font-size: 1em
.edit-list-button
  background: rgba(0,0,0,0)
  border: none
  margin: 0px 0px 0px 1em
  height: 3em
  //margin: 0px 0px 0px 2em
  //margin-left: 2em
  //i
  //  transform: translateX(-.2em)

  &:hover
   background: rgba(255,255,255,.5)
  &:active
    background: rgba(0,0,0,.5)
#end-of-list
  height: 110px
  width: 100%

