@import _constants
@font-face
  font-family: "Cabin"
  src: url("../assets/fonts/Cabin-Italic-VariableFont_wdth,wght.ttf") format('truetype')
  font-display: block
@font-face
  font-family: "Creepster"
  src: url("../assets/fonts/Creepster-Regular.ttf") format('truetype')
  font-display: block
@font-face
  font-family: "IndieFlower"
  src: url("../assets/fonts/IndieFlower-Regular.ttf") format('truetype')
  font-display: block

@font-face
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  font-display: block
  src: url("../assets/fonts/MaterialIconsOutlined-Regular.otf") format('opentype')

.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px  /* Preferred icon size */
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale

  /* Support for IE. */
  font-feature-settings: 'liga'

/* Rules for using icons as black on a light background. */
.material-icons.md-dark
  color: rgba(0, 0, 0, 0.54)
.material-icons.md-dark.md-inactive
  color: rgba(0, 0, 0, 0.26)

/* Rules for using icons as white on a dark background. */
.material-icons.md-light
  color: var(--hoarder-heading-color)
.material-icons.md-light.md-inactive
  color: rgba(255, 255, 255, 0.3)
//.material-icons.icon-color
//  color:

body
  background: black

  //display: grid
  min-height: 100%
  width: 100%
  margin: 0px
  font-size: 16px
  user-select: none

header
  position: fixed
  top: 0px
  width: 100%
  background: rgba(0,0,0,.7)
  z-index: 1

  h1
    margin: 0px
    font-size: 3em
    font-family: Creepster
    text-align: center
    color: var(--hoarder-heading-color)
    height: 5rem

body
  padding-top: 10rem